# pandas: powerful Python data analysis toolkit

>Pandas is a powerful module that is optimized on top of Numpy and provides a set of data structures particularly suited to time-series and spreadsheet-style data analysis (think of pivot tables in Excel). If you are familiar with the R statistical package, then you can think of Pandas as providing a Numpy-powered dataframe for Python.

... it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way toward this goal.

Following: https://github.com/deniederhut/Pandas-Tutorial-SciPyConf-2018

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pylab as plt

In [3]:
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:,.2f}'.format
plt.rcParams['figure.figsize'] = (16, 12)

#### Reading Data

In [4]:
flights = pd.read_csv("../extras/sample_data//ny-flights.csv.gz",
                      parse_dates=["fl_date", "arr", "dep"],)
flights

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01,AA,19805,N338AA,1,JFK,LAX,914.00,14.00,"1,238.00",13.00,0.00,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01,AA,19805,N335AA,3,JFK,LAX,"1,157.00",-3.00,"1,523.00",13.00,0.00,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01,AA,19805,N327AA,21,JFK,LAX,"1,902.00",2.00,"2,224.00",9.00,0.00,2014-01-01 22:24:00,2014-01-01 19:02:00
3,2014-01-01,AA,19805,N3EHAA,29,LGA,PBI,722.00,-8.00,"1,014.00",-26.00,0.00,2014-01-01 10:14:00,2014-01-01 07:22:00
4,2014-01-01,AA,19805,N319AA,117,JFK,LAX,"1,347.00",2.00,"1,706.00",1.00,0.00,2014-01-01 17:06:00,2014-01-01 13:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,2014-01-31,UA,19977,N54711,1253,ROC,ORD,801.00,-4.00,908.00,4.00,0.00,2014-01-31 09:08:00,2014-01-31 08:01:00
20813,2014-01-31,UA,19977,N77525,1429,LGA,CLE,"1,522.00",-10.00,"1,649.00",-31.00,0.00,2014-01-31 16:49:00,2014-01-31 15:22:00
20814,2014-01-31,UA,19977,N37293,1456,LGA,IAH,719.00,-6.00,"1,006.00",-20.00,0.00,2014-01-31 10:06:00,2014-01-31 07:19:00
20815,2014-01-31,UA,19977,N24729,1457,LGA,IAH,852.00,7.00,"1,156.00",-6.00,0.00,2014-01-31 11:56:00,2014-01-31 08:52:00
20816,2014-01-31,MQ,20398,N609MQ,3699,BUF,ORD,"1,208.00",-12.00,"1,251.00",-19.00,0.00,2014-01-31 12:51:00,2014-01-31 12:08:00

The CSV includes all the flights from New York airports in January 2014.
Each record has information about a single flight including the carrier, tail number, origin, destination, and delays.

A dataframe is made up of data, row labels, and column labels.
- `read_csv` returned a `DataFrame`, which is somewhat similar to a spreadsheet or database table.
- `pd.DataFrame` is the data container you'll work most with.
- Each column of the data is a `pd.Series`, kind of like a 1-dimensional version of a DataFrame.

In [5]:
flights['dep_delay']

0        14.00
1        -3.00
2         2.00
3        -8.00
4         2.00
         ...
20812    -4.00
20813   -10.00
20814    -6.00
20815     7.00
20816   -12.00
Name: dep_delay, Length: 20817, dtype: float64

Both `pd.DataFrame`s and `pd.Series` have *row labels*, which can be accessed with the `.index` attribute:

In [6]:
flights.index

RangeIndex(start=0, stop=20817, step=1)

In [7]:
flights['dep_delay'].index

RangeIndex(start=0, stop=20817, step=1)

`flights.index` is a `pd.Index` (there are many specialized index types, like `pd.RangeIndex`, but we'll talk about those later).

DataFrames store their column labels in a `.columns` attribute, which is also a `pd.Index`:

In [8]:
flights.columns

Index(['fl_date', 'unique_carrier', 'airline_id', 'tail_num', 'fl_num',
       'origin', 'dest', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay',
       'cancelled', 'arr', 'dep'],
      dtype='object')

The row and column labels help out with indexing and alignemnt, our firs two topics.

#### Pandas and NumPy

Pandas builds on top of NumPy. A DataFrame is a *container* for arrays.

The major differences are that

1. **Pandas DataFrames are 2-dimensional**:

   Pandas is designed for *tabular* data, like you might find in a
   database table, spreadsheet, or CVS. This differs from NumPy, which
   supports N-dimensional arrays.


2. **Pandas DataFrames are heterogenous**:

   You can store many types of data in the same DataFrame. Each *column*
   of the dataframe has its own type. This differs NumPy, which has
   *homogeneous* arrays: a single datatype for every element of the
   N-dimensional array.

In [9]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20817 entries, 0 to 20816
Data columns (total 14 columns):
fl_date           20817 non-null datetime64[ns]
unique_carrier    20817 non-null object
airline_id        20817 non-null int64
tail_num          20512 non-null object
fl_num            20817 non-null int64
origin            20817 non-null object
dest              20817 non-null object
dep_time          18462 non-null float64
dep_delay         18462 non-null float64
arr_time          18412 non-null float64
arr_delay         18383 non-null float64
cancelled         20817 non-null float64
arr               18412 non-null datetime64[ns]
dep               18462 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(5), int64(2), object(4)
memory usage: 2.2+ MB

In [10]:
flights.describe()

,airline_id,fl_num,dep_time,dep_delay,arr_time,arr_delay,cancelled
count,"20,817.00","20,817.00","18,462.00","18,462.00","18,412.00","18,383.00","20,817.00"
mean,"20,109.61","1,826.10","1,319.99",22.77,"1,493.70",21.38,0.12
std,370.72,"1,548.19",480.00,59.77,518.85,64.61,0.32
min,"19,393.00",1.00,1.00,-112.00,1.00,-112.00,0.00
25%,"19,790.00",472.00,858.00,-4.00,"1,110.75",-12.00,0.00
50%,"20,355.00","1,457.00","1,336.00",0.00,"1,519.00",3.00,0.00
75%,"20,409.00","2,701.00","1,720.00",22.00,"1,923.00",28.00,0.00
max,"21,171.00","6,258.00","2,400.00",973.00,"2,400.00",996.00,1.00

## Indexing

There are many ways you might want to specify which subset you want to select:

- Like lists, you can index by integer position.
- Like dictionaries, you can index by label.
- Like NumPy arrays, you can index by boolean masks.
- You can index with a scalar, `slice`, or array
- Any of these should work on the index (row labels), or columns of a DataFrame, or both
- And any of these should work on hierarchical indexes.

## The Basic Rules

1. Use `__getitem__` (square brackets) to select columns of a `DataFrame`

    ```python
    >>> df[['a', 'b', 'c']]
    ```

2. Use `.loc` for label-based indexing (rows and columns)

    ```python
    >>> df.loc[row_labels, column_labels]
    ```

3. Use `.iloc` for position-based indexing (rows and columns)

    ```python
    >>> df.iloc[row_positions, column_positions]
    ```

Let's get a DataFrame with a labeled index by selecting the
first flight for each carrier. We'll talk about `groupby` later.

In [11]:
first = flights.groupby("unique_carrier").first()
first

,fl_date,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
unique_carrier,,,,,,,,,,,,,
AA,2014-01-01,19805,N338AA,1,JFK,LAX,914.00,14.00,"1,238.00",13.00,0.00,2014-01-01 12:38:00,2014-01-01 09:14:00
B6,2014-01-01,20409,N318JB,115,SYR,JFK,720.00,90.00,808.00,55.00,0.00,2014-01-01 08:08:00,2014-01-01 07:20:00
DL,2014-01-01,19790,N930DL,61,LGA,ATL,"1,810.00",10.00,"2,054.00",10.00,0.00,2014-01-01 20:54:00,2014-01-01 18:10:00
EV,2014-01-01,20366,N14977,3259,HPN,ORD,731.00,-5.00,940.00,31.00,0.00,2014-01-01 09:40:00,2014-01-01 07:31:00
F9,2014-01-01,20436,N209FR,507,LGA,DEN,"1,804.00",35.00,"2,047.00",47.00,0.00,2014-01-01 20:47:00,2014-01-01 18:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
OO,2014-01-07,20304,N732SK,6258,SYR,ORD,"1,721.00",49.00,"1,834.00",47.00,1.00,2014-01-08 18:34:00,2014-01-08 17:21:00
UA,2014-01-01,19977,N413UA,255,LGA,ORD,824.00,0.00,"1,006.00",8.00,0.00,2014-01-01 10:06:00,2014-01-01 08:24:00
US,2014-01-01,20355,N546UW,629,JFK,PHX,"1,624.00",-6.00,"1,932.00",-39.00,0.00,2014-01-01 19:32:00,2014-01-01 16:24:00
VX,2014-01-01,21171,N361VA,11,JFK,SFO,730.00,0.00,"1,056.00",-14.00,0.00,2014-01-01 10:56:00,2014-01-01 07:30:00
WN,2014-01-01,19393,N625SW,613,ALB,BWI,"1,502.00",17.00,"1,615.00",15.00,0.00,2014-01-01 16:15:00,2014-01-01 15:02:00

## 1. Selecting Columns with `__getitem__`

Let's select the two delay columns. Since we're *only* filtering the columns (not rows), we can use dictionary-like `[]` to do the slicing.

In [12]:
first[['dep_delay', 'arr_delay']]

                dep_delay  arr_delay
unique_carrier
AA                  14.00      13.00
B6                  90.00      55.00
DL                  10.00      10.00
EV                  -5.00      31.00
F9                  35.00      47.00
...                   ...        ...
OO                  49.00      47.00
UA                   0.00       8.00
US                  -6.00     -39.00
VX                   0.00     -14.00
WN                  17.00      15.00

[13 rows x 2 columns]

In [16]:
first.__getitem__(['dep_delay', 'arr_delay'])

                dep_delay  arr_delay
unique_carrier
AA                  14.00      13.00
B6                  90.00      55.00
DL                  10.00      10.00
EV                  -5.00      31.00
F9                  35.00      47.00
...                   ...        ...
OO                  49.00      47.00
UA                   0.00       8.00
US                  -6.00     -39.00
VX                   0.00     -14.00
WN                  17.00      15.00

[13 rows x 2 columns]

In [17]:
# 1. build the list cols
cols = ['dep_delay', 'arr_delay']
# 2. slice, with cols as the argument to `__getitem__`
first[cols]

                dep_delay  arr_delay
unique_carrier
AA                  14.00      13.00
B6                  90.00      55.00
DL                  10.00      10.00
EV                  -5.00      31.00
F9                  35.00      47.00
...                   ...        ...
OO                  49.00      47.00
UA                   0.00       8.00
US                  -6.00     -39.00
VX                   0.00     -14.00
WN                  17.00      15.00

[13 rows x 2 columns]

#### Column `.` lookup

As a convenience, pandas attaches the column names to your `DataFrame` when they're valid [python identifiers](https://docs.python.org/3/reference/lexical_analysis.html), and don't override one of the ([many](http://pandas.pydata.org/pandas-docs/stable/api.html#dataframe)) methods on `DataFrame`

In [18]:
flights.dep_time

0         914.00
1       1,157.00
2       1,902.00
3         722.00
4       1,347.00
          ...
20812     801.00
20813   1,522.00
20814     719.00
20815     852.00
20816   1,208.00
Name: dep_time, Length: 20817, dtype: float64

In [19]:
x = pd.DataFrame({"mean": [1, 2, 3]})
x

   mean
0     1
1     2
2     3

In [20]:
# returns the method, not the column
x.mean

<bound method DataFrame.mean of    mean
0     1
1     2
2     3>

In [21]:
x['mean']

0    1
1    2
2    3
Name: mean, dtype: int64

Finally, you can't *assign* with `.`, while you can with `__setitem__` (square brackets on the left-hand side of an `=`):

In [22]:
x.wrong = ['a', 'b', 'c']
x['right'] = ['a', 'b', 'c']
x

/Users/hvribeiro/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

   mean right
0     1     a
1     2     b
2     3     c

In [23]:
x.wrong

['a', 'b', 'c']

`DataFrame`s, like most python objects, allow you to attach arbitrary attributes to any instance.
This means `x.wrong = ...` attaches the thing on the right-hand side to the object on the left.

#### Label-Based Indexing with `.loc`

You can slice rows by label (and optionally the columns too) with `.loc`.
Let's select the rows for the carriers 'AA', 'DL', 'US', and 'WN'.

In [25]:
carriers = ['AA', 'DL', 'US', 'WN']
# Select those carriers by label
first.loc[carriers]  # no column indexer

,fl_date,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
unique_carrier,,,,,,,,,,,,,
AA,2014-01-01,19805,N338AA,1,JFK,LAX,914.00,14.00,"1,238.00",13.00,0.00,2014-01-01 12:38:00,2014-01-01 09:14:00
DL,2014-01-01,19790,N930DL,61,LGA,ATL,"1,810.00",10.00,"2,054.00",10.00,0.00,2014-01-01 20:54:00,2014-01-01 18:10:00
US,2014-01-01,20355,N546UW,629,JFK,PHX,"1,624.00",-6.00,"1,932.00",-39.00,0.00,2014-01-01 19:32:00,2014-01-01 16:24:00
WN,2014-01-01,19393,N625SW,613,ALB,BWI,"1,502.00",17.00,"1,615.00",15.00,0.00,2014-01-01 16:15:00,2014-01-01 15:02:00

In [27]:
flights.loc[[0,1,2,29]]

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01,AA,19805,N338AA,1,JFK,LAX,914.00,14.00,"1,238.00",13.00,0.00,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01,AA,19805,N335AA,3,JFK,LAX,"1,157.00",-3.00,"1,523.00",13.00,0.00,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01,AA,19805,N327AA,21,JFK,LAX,"1,902.00",2.00,"2,224.00",9.00,0.00,2014-01-01 22:24:00,2014-01-01 19:02:00
29,2014-01-01,AA,19805,N3EAAA,359,LGA,ORD,nan,nan,nan,nan,1.00,NaT,NaT

In [28]:
# select just `carriers` and origin, dest, and dep_delay
first.loc[carriers, ['origin', 'dest', 'dep_delay']]

               origin dest  dep_delay
unique_carrier
AA                JFK  LAX      14.00
DL                LGA  ATL      10.00
US                JFK  PHX      -6.00
WN                ALB  BWI      17.00

In [29]:
flights.loc[[0,1,2,29],['unique_carrier','arr']]

   unique_carrier                 arr
0              AA 2014-01-01 12:38:00
1              AA 2014-01-01 15:23:00
2              AA 2014-01-01 22:24:00
29             AA                 NaT

Pandas will *reduce dimensionality* when possible, so slicing with a scalar on either axis will return a `Series`.

In [30]:
# select just tail_num for those `carriers`
first.loc[carriers, 'tail_num']

unique_carrier
AA    N338AA
DL    N930DL
US    N546UW
WN    N625SW
Name: tail_num, dtype: object

And scalars on both axes will return a scalar.

In [31]:
first.loc['AA', 'tail_num']

'N338AA'

In [33]:
flights.loc[0,'fl_num']

1

#### `slice` objects

You can pass a `slice` object (made with a `:`). They make sense when your index is sorted, which ours is.

In [34]:
first.loc['AA':'DL']

,fl_date,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
unique_carrier,,,,,,,,,,,,,
AA,2014-01-01,19805,N338AA,1,JFK,LAX,914.00,14.00,"1,238.00",13.00,0.00,2014-01-01 12:38:00,2014-01-01 09:14:00
B6,2014-01-01,20409,N318JB,115,SYR,JFK,720.00,90.00,808.00,55.00,0.00,2014-01-01 08:08:00,2014-01-01 07:20:00
DL,2014-01-01,19790,N930DL,61,LGA,ATL,"1,810.00",10.00,"2,054.00",10.00,0.00,2014-01-01 20:54:00,2014-01-01 18:10:00

In [37]:
flights.loc[100:110]

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
100,2014-01-01,B6,20409,N517JB,453,JFK,PBI,653.00,-7.00,956.00,-2.00,0.00,2014-01-01 09:56:00,2014-01-01 06:53:00
101,2014-01-01,B6,20409,N517JB,561,LGA,PBI,"1,438.00",19.00,"1,734.00",20.00,0.00,2014-01-01 17:34:00,2014-01-01 14:38:00
102,2014-01-01,B6,20409,N517JB,1371,LGA,FLL,"2,134.00",4.00,36.00,18.00,0.00,2014-01-01 00:36:00,2014-01-01 21:34:00
103,2014-01-01,B6,20409,N519JB,1701,JFK,FLL,"1,001.00",61.00,"1,308.00",62.00,0.00,2014-01-01 13:08:00,2014-01-01 10:01:00
104,2014-01-01,B6,20409,N519JB,1161,LGA,PBI,"1,757.00",88.00,"2,102.00",90.00,0.00,2014-01-01 21:02:00,2014-01-01 17:57:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2014-01-01,B6,20409,N521JB,753,JFK,PBI,"1,652.00",41.00,"1,946.00",31.00,0.00,2014-01-01 19:46:00,2014-01-01 16:52:00
107,2014-01-01,B6,20409,N521JB,839,JFK,BQN,6.00,7.00,450.00,13.00,0.00,2014-01-01 04:50:00,2014-01-01 00:06:00
108,2014-01-01,B6,20409,N526JB,2702,JFK,BUF,704.00,-6.00,842.00,2.00,0.00,2014-01-01 08:42:00,2014-01-01 07:04:00
109,2014-01-01,B6,20409,N526JB,2301,BUF,JFK,928.00,4.00,"1,029.00",-16.00,0.00,2014-01-01 10:29:00,2014-01-01 09:28:00
110,2014-01-01,B6,20409,N531JB,1013,JFK,LGB,"1,807.00",-3.00,"2,140.00",11.00,0.00,2014-01-01 21:40:00,2014-01-01 18:07:00

Notice that the slice is inclusive on *both* sides *when using* `.loc` (`.iloc` follows the usual python semantics of closed on the left, open on the right).